label {
  display: flex;
}
body {
  margin: 0;
  padding: 20px;
}

* {
  font-family: "Poppins", sans-serif;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 11pt;
}
h2 {
  font-weight: 300;
}

h3 {
  text-align: center;
  font-weight: 300;
  font-size: 20pt;
}

.imagem {
  margin-right: 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 7px #868686;
}
.user {
  display: flex;
  border-radius: 10px;

  padding: 10px;
  margin: 0;
}
.container {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
/* button {
  background-color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  margin: auto;
  box-shadow: 0px 0px 5px #868686;
} */
div.entry {
  position: relative;
  padding: 5px;
  border-radius: 10px;
}
div.entry div.highlight {
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
div.entry input:checked ~ div.highlight {
  background-color: rgb(197, 197, 197) !important;
  border-radius: 30px;
}

.guides{
  overflow-y: scroll;
  max-height: 400px;
}
