@media only screen and (max-device-width: 850px) {
    body {
        background-color: #F5F5F5;
    }

   /* .imagemseta {
        margin-top: 5%;
        margin-left: 5%;
    }*/

    .titulo {
        font-family: Poppins, sans-serif;
        color: #485C73;
        margin-left: 5%;
    }

    .mes {
        font-family: Poppins, sans-serif;
        font-weight: normal;
        color: #485C73;
        margin-left: 5%;
    }

    .dias_semana {
        font-family: Poppins, sans-serif;
        font-weight: normal;
        font-size: 10pt;
        color: #485C73;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }

    .dias_semana > p {
        padding: 0 40px 0 0;
    }

    .dias_1 {
        font-family: Poppins, sans-serif;
        font-weight: normal;
        font-size: 10pt;
        color: #485C73;
        margin-left: 20%;
        display: flex;
        flex-direction: row;
    }

    .dias_1 > p {
        padding: 0 40px 0 0;
    }

    .dias_2, .dias_3, .dias_4, .dias_5 {
        font-family: Poppins, sans-serif;
        font-weight: normal;
        font-size: 10pt;
        color: #485C73;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }

    .dias_2 > p {
        padding: 0 39px 0 0;
    }

    .dias_3 > p {
        padding: 0 36px 0 0;
    }

    .dias_4 > p {
        padding: 0 34px 0 0;
    }

    .dias_5 > p {
        padding: 0 32px 0 0;
    }
}
