body {
  margin: 0;
}

a {
  position: absolute;
}

.menu > div > a {
  padding: 20px 0 20px 0;
}

.imagemmenu {
  top: 4%;
}

#mapid {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.imagempausa {
  position: absolute;
  left: -20px;
  top: 50px;
  z-index: 2;
}

.imagemviagem {
  position: absolute;
  left: 260px;
  top: 700px;
  z-index: 2;
}

.imagemamigos {
  position: absolute;
  left: 190px;
  top: 700px;
  z-index: 2;
}
